
:root {
  --icons-color: #078ad7;
  --icons-bg-color: #e2e6e9;
  --shadow-dark-color: #d3dae7;
  --shadow-light-color: #fff;
  --main-bg-color: #9fcceda9;

  --box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background:var(--main-bg-color);
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  width: 60vh;
  padding: 2rem;
  margin: 3rem;
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
}
h1{
  font-size: 3rem;
  color: #000;
}
.app .app-header{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 2rem;
}
.app-header i{
  background: var(--icons-color);
  border-radius: 50%;
  padding: 1rem;
  font-size: 2rem;
  color: #fff;
  margin-right: 1rem;
}

.app .app-header{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 2rem;
}
.app-header i{
    background: var(--icons-color);
    border-radius: 50%;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
    margin-right: 1rem;
}
.inputField{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: var(--icons-color);
   border-radius: 1rem;
   box-shadow: var(--box-shadow);
}
.inputField i{
    font-size: 20px;
    margin-right: 1rem;
    color: #fff;
    cursor: pointer;
}
.inputField i:hover{
    color: #000;
  
}
#new-task-title:focus {
    outline: none;
}

#new-task-title{
    width: 90%;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: none;
  
}
 
.add-btn{
background-color: transparent;
border: none;
}

ul {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-top: 1rem;
    gap: 0.5rem;
   
  }

label.list-style{
  display: flex;
  gap: 3rem;
  font-size: 1.2rem;
}

  li.list-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 4px;
    
}


  


.fa-solid.fa-trash {

  cursor: pointer; 
  font-size: 1.2rem;
  color: var(--icons-color); 
}



.clearList-btn {
  align-self: flex-end;
  margin-top: auto;
  background-color: var(--icons-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.clearList-btn:hover {
  background-color: rgba(144, 1, 1, 0.815);
}